<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{meta-title}}</title>
        <meta name="description" content="{{meta-description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- PushState Support -->
        <base href="/">

        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/app.webmanifest">
        <link rel="stylesheet" href="/css/normalize.css">
    </head>
    <body>
        <!--[if lte IE 9]>x
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div id="main"></div>
        <script src={{js-main}} type="text/javascript"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!-- <script>
             window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
             ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
             </script>
             <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
    </body>
</html>
